[submodule ".vim/pack/default/start/lightline"]
	path = .vim/pack/default/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/default/start/fzf.vim"]
	path = .vim/pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
